.assortment-section {
    padding: 50px 0 50px;
}

.assortment-section__list {
    display: flex;
    gap: 40px 20px;
    flex-wrap: wrap;
}

.assortment-section__item {
    position: relative;
    max-width: calc((100% - 40px )/ 3 );
    width: 100%;
    min-height: 228px;
    transition: .6s;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(28 / 20);
    display: flex;
    align-items: end;
    padding: 5px 40px;
    z-index: 1;
}

.assortment-section__text {
    min-height: 56px;
}

.assortment-section__img {
    content: "";
    position: absolute;
    inset: 0;
    display: block;
    width: 380px;
    z-index: -1;
    height: 100%;
    
}    

.assortment-section__item:hover {
    transform: scale(1.1, 1.1);
    transition: 0.6s;
}

.assortment-section__title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.assortment-section__title-text{
    max-width: 700px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}