.banner-section {
    padding: 50px 0 50px;
}

.banner-section__wrapper {
    position: relative;
    min-height: 823px;
} 

.banner-section__wrapper::before {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
    background-image: url("../img/main.png");
    background-size:  675px 762px;
    background-repeat: no-repeat;
    background-position: bottom right;
    min-height: 823px;

}

.banner-section__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 150px;
    line-height: 100%;
    letter-spacing: -0.1em;
    margin: 0;
    
}

.banner-section__subtitle {
    font-size: 28px;
    font-size: 28px;
    line-height: 179%;
    padding-left: 100px;
    margin: 0 0 30px;
}    

.title-banner {
    margin-bottom: 60px;
}

.banner-section__wrapper-content {
    display: flex;
    gap: 40px;
    align-items: flex-end;
    margin-bottom: 150px;
    
}

.banner-section__content-hall {
    flex-basis: 193px;
    display: flex;
    flex-direction: column;
}

.banner-section__text-bold {
    color: #CD06FF;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
}

.banner-section__text {
    font-size: 30px;
    text-align: center;
}

.banner-section__text-below {
    color: #CD06FF;
    font-size: 75px;
    font-weight: 900;
    line-height: 106px;
    text-align: center;
}

.banner-section__link {
    position: relative;
    font-size: 0;
    z-index: 1;
}    

.banner-section__wrapper-link {
    display: flow-root;
    margin-bottom: 25px;
}

.banner-section__link-text {
    text-transform: uppercase;
    padding: 25px 69px;
    display: inline;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(30 / 26);
    background-color: rgb(108, 2, 135);
    border-radius: 10px;
    border: 1px solid black;
}

.banner-section__link::before {
    content: "";
    position: absolute;
    inset: 0;
    filter: blur(10px);
    background-color: rgb(108, 2, 135);
    z-index: -1;

}

.banner-section__link-vector {
    display: block;
    height: 97px;
    background-image: url(../img/Vector.svg);
    background-size: 97px;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-section__link-vector:hover {
    background-image: url(../img/vector-hover.svg);
}

.banner-section__link-vector:active {
    background-image: url(../img/Vector-active.svg);
}

.banner-section__link-vector:focus {
    background-image: url(../img/Vector-focus.svg);
}

.banner-section__link-text:hover {
    background-color: rgb(132, 10, 163);
}

.banner-section__link-text:active {
    background-color: rgb(100, 10, 163);
}

.banner-section__link-text:focus {
    background-color: rgb(132, 10, 163);
}