.banner-section {
    padding: 50px 0 50px;
}

.banner-section__wrapper {
    position: relative;
    min-height: 823px;
} 

.banner-section__wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    display: block;
    background-image: url("../img/main.png");
    background-size:  675px 762px;
    background-repeat: no-repeat;
    background-position: bottom right;
    min-height: 823px;
    min-width: calc(1180px - 40%);
}    

.banner-section__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 150px;
    line-height: 100%;
    letter-spacing: -0.1em;
    margin: 0;
    
}

.banner-section__subtitle {
    font-size: 28px;
    font-size: 28px;
    line-height: 179%;
    padding-left: 100px;
    margin: 0 0 30px;
}    

.title-banner {
    margin-bottom: 60px;
}

.banner-section__wrapper-content {
    display: flex;
    gap: 40px;
    align-items: flex-end;
    margin-bottom: 150px;
    
}

.banner-section__content-hall {
    flex-basis: 193px;
    display: flex;
    flex-direction: column;
}

.banner-section__text-bold {
    color: #CD06FF;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
}

.banner-section__text {
    font-size: 30px;
    text-align: center;
}

.banner-section__text-below {
    color: #CD06FF;
    font-size: 75px;
    font-weight: 900;
    line-height: 106px;
    text-align: center;
}

.banner-section__wrapper-link{
    position: relative;
    display: flex;

}

.banner-section__link {
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    padding: 25px 69px;
    display: inline-block;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(30 / 26);
    background-color: rgb(108, 2, 135);
    border-radius: 10px;
    border: 1px solid black;
} 

.banner-section__link::before {
    content: "";
    position: absolute;
    inset: 0;
    filter: blur(10px);
    background-color: rgb(108, 2, 135);
    z-index: -1;
}

.banner-section__link:hover {
    background-color: rgb(132, 10, 163);
}

.banner-section__link:focus {
    background-color: rgb(132, 10, 163);
}

.banner-section__link:active {
    background-color: rgb(100, 10, 163);
}

.banner-section__link-vector::after {
    position: absolute;
    content: '';
    top: 50px;
    left: 539px;
    display: block;
    height: 97px;
    width: 97px;
    background-image: url("../img/vector.png");
    background-repeat: no-repeat;
    background-position: 34px 30px;
    outline: 1px solid #fff;
    border-radius: 50%;
    z-index: 2;
}

.banner-section__link-vector:hover::after {
    background-image: url("../img/vector-hover.png");
    background-color: #fff;
}

.banner-section__link-vector:focus:after {
    background-image: url("../img/vector.png");
    
    outline: 1px solid #FFF;
    
}

.banner-section__link-vector:active:after  {
    background-image: url("../img/vector.png");
    outline: none;
    background-color: #CD06FF;
}




