.header {
    padding-top: 30px;
    font-size: 22px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 40px;
    line-height: 50px;
    text-transform: uppercase;
}

.header__item-link:hover {
    color: #6C0287;
    
}

.header__item-link:focus {
    color: #6C0287;
    
}

.header__item-link:active {
    color: rgb(100, 10, 163);
    
}

.header__button-phone {
    color: #fff;
    padding: 12px 32px;
    line-height: 30px;
    border: 3px solid #CD06FF;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.header__button-phone:hover {
    background-color: #6C0287;
    border: 3px solid #6C0287;
}

.header__button-phone:focus {
    background-color: #6C0287;
    border: 3px solid #6C0287;
}

.header__button-phone:active {
    background-color: rgb(100, 10, 163);
    border: 3px solid rgb(100, 10, 163);
}

