.header {
    padding-top: 30px;
    font-size: 22px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 40px;
    line-height: 50px;
    text-transform: uppercase;
}

.header__item-link {
    transition: .3s;
}

.header__item-link:hover {
    color: var(--primary-color-light-purple);
    transition: .3s;
    
}

.header__item-link:focus {
    color: var(--primary-color-light-purple);
    transition: .3s;
    
}

.header__item-link:active {
    color: var(--primary-color-dark-purple);
    transition: .3s;
    
}

.header__button-phone {
    color: #fff;
    padding: 12px 32px;
    line-height: 30px;
    border: 3px solid var(--primary-color-pink);
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}



.header__button-phone:hover {
    background-color: var(--primary-color-light-purple);
    border: 3px solid var(--primary-color-light-purple);
    transition-duration: .3s;
    transition-property: background-color;
    animation-fill-mode: forwards;
}

.header__button-phone:focus {
    background-color: var(--primary-color-light-purple);
    border: 3px solid var(--primary-color-light-purple);
    transition-duration: .3s;
}

.header__button-phone:active {
    background-color: var(--primary-color-dark-purple);
    border: 3px solid var(--primary-color-dark-purple);
    transition-duration: .3s;
}

