.reservation-section {
    padding: 80px 0 80px;
    background-color: #440F51;
    
}

fieldset {
    border: none ;
}

.button-reservation {
    background-color: #f9f4f4;
    border: 1px solid #f9f4f4;
}

.reservation-section__title {
    margin-bottom: 60px;
}

.reservation-section__fieldset {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;

}

.reservation-section__fieldset-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    flex-basis: 1080px;
    gap: 60px;
}



.reservation-section__legend {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 /24);
    margin-bottom: 38px;
}

.reservation-section__label {
    display: flex;
    max-width: max-content;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.reservation-section__label:last-child {
    margin: 0;
}

.reserved-section__text-item {
    font-size: 22px;
}

.reservation-section__legend-left {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 /24);
    margin-bottom: 24px;
}

.reservation-section__fieldset-column {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    
}

.reserved-section__input{
    width: 27px;
    height: 27px;
}
.reservation-section__input-hall {
    display: none;
    
}

.reservation-section__label-text {
    font-weight: 700;
    font-size: 30px;
    line-height: calc(40 /30);
    color: #000000;
    text-transform: uppercase;
    padding: 7px 36px 8px;
    background-color: #ffffff;
    border-radius: 8px;
}

/* .reservation-section__label-text:checked{
    color: rgb(255, 89, 0);
    background-color: #2fe30f;
} */

.reservation-section__input-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.reservation-section__input-wrapper:last-child {
    margin: 0;
}

.reservation-section__info-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 14px 50px;
    margin-bottom: 40px;
}

.reservation-section__info-wrapper:nth-last-child()  {
    margin: 0;
}

.reserved-section__time-wrapper {
    display: flex;
    gap: 32px;
}

.reservation-section__info-date {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 36px;
}

.reservation-section__input-date {
    width: 134px;
    background-color: #ffffff;
    line-height: calc(28 /18);
    padding: 12px 20px;

}    

.reservation-section__input-universal {
    max-width: 300px;
    width: 100%;
}

.reservation-section__label-data{
    font-size: 14px;
    line-height: calc(16 /14);
    margin-bottom: 6px;
    display: block;
}

.reservation-section__label-data_width-less {
    max-width: 280px;
    line-height: calc(16 /14);
    display: block;
    margin-bottom: 6px;
}

.reservation-section__label-wrapper_width-less {
    max-width: 280px;
    display: block;
    flex-basis: 300px;
    font-size: 14px;
    line-height: calc(16 /14);
    font-weight: 700;
}

.reservation-section__label-wrapper {
    display: block;
    flex-basis: 300px;
    font-size: 14px;
    line-height: calc(16 /14);
    font-weight: 700;
}    

.reservation-section__input-name {
    max-width: 280px;
    font-size: 22px;
    line-height: calc(28 /22);
    padding: 12px 20px;
}

.reservation-section__label-input {
    max-width: 300px;
    font-size: 22px;
    line-height: calc(28 /22);
    padding: 12px 20px;
}

.button-reservation-wrapper {
    display: flex;
    justify-content: end;
    padding-right: 100px;
}   

.button-reservation {
    padding: 16px 50px;
    color: #6C0287;
    background-color: #ffffff;
    font-size: 22px;
    line-height: calc(28 /22);
    border-radius: 10px;
    font-weight: 700;
    text-transform: uppercase;
}   



.reserved-section__time-wrapper {
    display: flex;
    flex-basis: 300px;
    justify-content: space-between;
    
}